* {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#text-content {
    height: 100%;
    width: 40%;
    background-color: white;
    float: left;
    border: none;
    resize: none;
}

#output-box {
    height: 100%;
    width: 60%;
    background: lightgray;
    border-left: 1px solid gray;
    float: left;
}
